@page
@model ClientWebRP.Pages.DetailsGameModel
@{
    ViewData["Title"] = "Detalls del joc";
    var loggedIn = Tools.TokenHelper.IsTokenSession(HttpContext.Session.GetString("AuthToken"));
    var game = Model.Game;
}
<h1>Detalls Joc</h1>

<div>
    <h2>@game.Title</h2>
    <p><strong>Descripció:</strong> @game.Description</p>
    <p><strong>Desarollat per:</strong> @game.DeveloperTeam</p>
    <p><strong>Vots:</strong> @game.VotesCount</p>
    @if (loggedIn)
    {
        <form method="post" asp-page-handler="Vote" asp-route-id="@game.Id">
            <button type="submit" class="btn btn-primary">Votar</button>
        </form>
    }
    else
    {
        <button class="btn btn-secondary" disabled title="Només per usuaris autenticats">Votar</button>
    }
</div>
<div>
    @if (User.IsInRole("Admin"))
    {
        <td>
            <a asp-page="Edit" asp-route-id="@game.Id" class="btn btn-primary">Editar</a>
        </td>
        <td>
            <a asp-page="Delete" asp-route-id="@game.Id" class="btn btn-danger">Eliminar</a>
        </td>
    }
    else
    {
        <button class="btn btn-secondary btn-sm" disabled title="Només per usuaris autenticats">
            <i class="bi bi-trash"></i>
        </button>
    }
</div>